@if (event$ | async; as event) {

  <!-- card grid -->
  <div class="flex flex-row gap-lg">

    <!-- event cards -->
    <div class="flex flex-col gap-lg w-[min(100%,35rem)]">

      <!-- overview card -->
      <div class="card col-start-1 col-span-2 row-span-2 grid grid-columns-2 gap-lg h-fit">

        <!-- info caption -->
        <h1 class="col-start-1 row-start-1 compact signature-gradient-font">About the Event</h1>

        <div class="col-start-2 row-start-1 row-span-2 flex flex-col gap-sm justify-self-end items-end">

          <div class="badge w-fit"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Event dates of ' + event.eventOverview.name"
          >
            <fa-icon [icon]="icons.date" />
            {{event.eventOverview.startTime | date:"shortDate"}} - {{event.eventOverview.endTime | date:"shortDate"}}
          </div>

          <div class="badge"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Volunteers participating in this event'"
          >
            <fa-icon [icon]="icons.volunteers" />
            {{event.overallEventStatistics.volunteerCount}} Volunteers
          </div>
          <div class="badge"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Duration of shifts during this event'"
          >
            <fa-icon [icon]="icons.hour" />
            {{event.overallEventStatistics.totalHours | number:"1.0-0"}} Shift Hours
          </div>

        </div>

        <!-- properties -->
        <p class="col-start-1 row-start-2 whitespace-pre-wrap">{{event.eventOverview.longDescription}}</p>

        <!-- socials -->
        @if (event.eventOverview.socialMediaLinks.length > 0) {

          <div class="flex flex-row gap-md flex-wrap col-span-2 col-start-1 items-center">
            @for(link of event.eventOverview.socialMediaLinks; track link.url) {
              <a class="badge hint flex flex-row items-center gap-sm cursor-pointer no-underline" target="_blank" href="{{link.url}}">
                <fa-icon class="text-lg leading-[.9]" [icon]="getSocialIcon(link)" />
                <span>{{getSocialName(link)}}</span>
              </a>
            }
          </div>
        }

        <!-- own role -->
        <div class="col-span-2 flex flex-col gap-lg">
          <hr>
          <div class="flex flex-row gap-sm">

            <!-- user type -->
            @if ((userType$ | async) === "ADMIN") {
              <div class="badge w-fit"
                   tooltipMaxWidth="30ex"
                   [app-tooltip]="'Event dates of ' + event.eventOverview.name"
              >
                <fa-icon [icon]="icons.userType" />
                Administrator
              </div>
            }
            @else if ((isPlannerInEvent$ | async) === true) {
              <div class="badge w-fit"
                   tooltipMaxWidth="30ex"
                   [app-tooltip]="'Event dates of ' + event.eventOverview.name"
              >
                <fa-icon [icon]="icons.userType" />
                Planner
              </div>
            }

            @else {
              <div class="badge w-fit"
                   tooltipMaxWidth="30ex"
                   [app-tooltip]="'Event dates of ' + event.eventOverview.name"
              >
                <fa-icon [icon]="icons.userType" />
                Volunteer
              </div>
            }

            <!-- roles -->
            @for (role of event.roles; track role.id) {
              <div class="badge w-fit"
                   tooltipMaxWidth="30ex"
                   [app-tooltip]="'You have the role ' + role.name"
              >
                <fa-icon [icon]="icons.role" />
                {{role.name}}
              </div>
            }
          </div>
        </div>
      </div>

      @if ((userType$ | async) === "ADMIN") {
        <!-- manage event -->
        <div class="card interaction" routerLink="manage">

          <!-- info -->
          <h1>
            <fa-icon [icon]="icons.event" class="icon" />
            Manage Event
          </h1>
          <p>
            Manage event details, locations and shift plans.
          </p>

        </div>
      }

      @if ((isPlannerInEvent$ | async) === true) {
        <!-- manage plans -->
        <div class="card interaction" routerLink="plans">

          <!-- info -->
          <h1>
            <fa-icon [icon]="icons.plan" class="icon" />
            Planner Dashboard
          </h1>
          <p>
            Manage shift plan invites, roles, shifts, and assignments.
          </p>

        </div>
      }

      @if ((userType$ | async) !== "ADMIN") {
        <!-- help page -->
        <div class="card interaction" routerLink="volunteer">

          <!-- info -->
          <h1>
            <fa-icon [icon]="icons.signedUp" class="icon" />
            Volunteer Dashboard
          </h1>
          <p>
            View your shifts and trade with other volunteers.
          </p>

        </div>
      }

      @if ((userType$ | async) !== "ADMIN") {
        <!-- help page -->
        <div class="card interaction" routerLink="help">

          <!-- info -->
          <h1>
            <fa-icon [icon]="icons.help" class="icon" />
            Are you lost?
          </h1>
          <p>
            View contact info and help.
          </p>

        </div>
      }
    </div>

    <!-- volunteer cards -->
    <div class="flex flex-col gap-lg">

      <!-- rewards -->
      @if ((userType$ | async) !== "ADMIN"){
        <app-event-rewards [eventDashboard]="event" />
      }

      <!-- leaderboard -->
      @if (leaderboard$ | async; as leaderboard) {
        <app-event-leaderboard [leaderboard]="leaderboard ?? undefined"  />
      }

      <!-- calendar link card -->
      <div class="card interaction spotlight" routerLink="calendar">
        <h1>
          <fa-icon [icon]="icons.calendar" class="icon" />
          View Event Calendar
        </h1>
        <p>
          @if ((userType$ | async) === "ADMIN"){
            Manage the event schedule and shifts.
          }
          @else if ((isPlannerInEvent$ | async) === true){
            Manage and explore the shifts of the event.
          }
          @else {
            Explore your shifts in the event.
          }
        </p>
      </div>

    </div>
  </div>
}

