@if (event$ | async; as event) {

  <!-- card grid -->
  <div class="flex flex-row gap-md">

    <!-- event cards -->
    <div class="flex flex-col gap-md w-[min(100%,40rem)]">

      <!-- overview card -->
      <div class="card col-start-1 col-span-2 row-span-2 grid grid-columns-2 gap-lg h-fit">

        <!-- info caption -->
        <h1 class="compact signature-gradient-font">Event Overview</h1>
        <div class="badge w-fit justify-self-end"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Event dates of ' + event.eventOverview.name"
        >
          <fa-icon [icon]="iconDay" />
          {{event.eventOverview.startTime | date:"shortDate"}} - {{event.eventOverview.endTime | date:"shortDate"}}
        </div>

        <!-- properties -->
        <p class="col-span-2">
          {{event.eventOverview.longDescription}}
        </p>

        <!-- own schedule stats -->
        <div class="flex flex-col items-start gap-xs">
          <small>Your stats</small>
          <div class="badge"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Days where you signed up for shifts in this event'"
          >
            <fa-icon [icon]="iconDay" />
            {{event.ownEventStatistics.busyDays}} Busy Days
          </div>
          <div class="badge"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Sum of signed up shifts in this event'"
          >
            <fa-icon [icon]="iconHours" />
            {{event.ownEventStatistics.totalHours}} Shift Hours
          </div>
          <div class="badge success"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Reward points earned during this event'"
          >
            <fa-icon [icon]="iconRewards" />
            {{event.rewardPoints}} Points Rewarded
          </div>
        </div>

        <!-- public stats -->
        <div class="flex flex-col items-start gap-xs">
          <small>Public stats</small>
          <div class="badge hint"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Volunteers participating in this event'"
          >
            <fa-icon [icon]="iconVolunteers" />
            {{event.overallEventStatistics.volunteerCount}} Volunteers
          </div>
          <div class="badge hint"
               tooltipMaxWidth="30ex"
               [app-tooltip]="'Duration of shifts during this event'"
          >
            <fa-icon [icon]="iconHours" />
            {{event.overallEventStatistics.totalHours | number:"1.0-0"}} Shift Hours
          </div>
        </div>

      </div>

      <!-- availability times card -->
      <div class="card col-start-1 col-span-2 row-span-2 grid grid-columns-2 gap-lg h-fit">

        <!-- info -->
        <h1 class="compact signature-gradient-font">Manage Absence</h1>
        <p class="col-span-2">
          Set your absence times for calendar filtering and better shift suggestions.
        </p>

        <!-- set unavailability -->
        <div class="grid grid-cols-[1fr_auto] col-span-2 gap-xs">

          @if(timeConstraints$ | async; as timeConstraints) {
            @if (timeConstraints.length === 0) {
              <small class="col-span-2">You have not set any absence for this event.</small>
            }

            @for (constraint of timeConstraints; track constraint.id) {
              <div class="flex gap-sm items-center">

                @if (constraint.type === "EMERGENCY") {
                  <div class="badge hint">
                    <fa-icon [icon]="iconUnavailable" />
                    Emergency
                  </div>

                  {{
                    constraint.from | date:'dd.MM.yyyy'
                  }}
                }

                @else {
                  <div class="badge success">
                    <fa-icon [icon]="iconUnavailable" />
                    {{ getUnavailabilityDayLength(constraint) }}
                  </div>

                  {{
                    constraint.from | date:'dd.MM.yyyy HH:mm'
                  }} - {{
                    constraint.to | date:'dd.MM.yyyy HH:mm'
                  }}
                }

              </div>
              <xsb-input-button action="normal" content="Remove {{constraint.type === 'EMERGENCY' ? 'Emergency' : 'Absence'}}" size="minimal" (click)="removeUnavailability(constraint, event)" />
            }
          }
        </div>

        <div class="flex gap-sm">
          <xsb-input-button content="Add Absence" (click)="showUnavailabilityDialog = true" size="minimal" class="w-fit" />
          <xsb-input-button content="Set Emergency" (click)="showEmergencyDialog = true" size="minimal" class="w-fit" />
        </div>

      </div>

      <!-- manage event -->
      <div class="card interaction col-start-1 col-span-2 grid grid-columns-2 gap-lg h-fit" routerLink="edit">

        <!-- info -->
        <h1 class="compact">Manage Event</h1>
        <p>
          Click here to manage event details, locations and PreTalx integration.
        </p>

      </div>
    </div>

    <!-- shift plans list -->
    <div class="grid gap-md auto-rows-fr grid-cols-[repeat(auto-fit,min(100%,20rem))] grow h-fit">

      @if (userType$ | async; as userType) {
        @if (userType === 'ADMIN') {
          <div class="card spotlight interaction grid place-items-center p-lg"
               [routerLink]="'/plans/create'">
            <h2 class="compact">
              <fa-icon [icon]="iconCreate" class="pr-sm" />
              Create new shift plan
            </h2>
          </div>
        }
      }

      @for (plan of event.shiftPlans; track plan) {
        <div class="card interaction" [routerLink]="'/plans/' + plan.id">
          <small>Shift Plan</small>
          <h1>{{plan.name}}</h1>
          <p>
            {{plan.shortDescription ?? "No description provided."}}
          </p>
        </div>
      }
    </div>

  </div>

  <app-dialog-add-unavailability [viewWhen]="showUnavailabilityDialog" (result)="unavailabilitySubmitted($event, event)" />
  <app-dialog-add-emergency [viewWhen]="showEmergencyDialog" (result)="emergencySubmitted($event, event)" />
}

