<!-- wrapper -->
<div class="flex flex-col gap-md h-full">

  <!-- header with filters-->
  <app-shift-calendar-filter>
    <div class="flex flex-col pl-lg">
      <h1 class="signature-gradient-font">Shift Plan Schedule</h1>
      <span>
        Explore all scheduled shifts in the calendar below. Click on any shift to view details or to sign up.
    </span>
    </div>
  </app-shift-calendar-filter>

  <!-- calendar -->
  <div class="card compact flex-grow overflow-hidden">
    <app-shift-calendar-grid />
  </div>

</div>
