<div class="h-full w-full overflow-auto">

  <!-- calendar grid: x -> grid columns, scrollable venues; y: continuous big row, time axis, growing by date range, position by top -->
  <div
    class="relative grid gap-md gap-y-0 grid-rows-[auto_1fr]"
    [style.grid-template-columns]="gridColumns"
    [style.height]="getMinuteHeight(24*60)"
  >

    <!-- date side -->
    <div style="grid-row: 1 / 1; grid-column: time-start / time-end" class="date">
      12.12.2025
    </div>

    <!-- timeline side -->
    <div style="grid-row: 2 / 2; grid-column: time-start / time-end" class="timestamp">

      @for (hour of hours; track hour) {
        <div
          class="hour"
          [style.top]="getMinuteHeight(hour * 60)"
          [style.height]="getMinuteHeight(60)"
        >
          {{ hour.toString().padStart(2, "0") }}:00
        </div>
      }
    </div>

    <!-- sample venue A -->
    <div class="venue" style="grid-row: 1/1; grid-column: venue-a-start / venue-a-end">
      <span>Freihaus</span>
    </div>

    <!-- sample venue B -->
    <div class="venue" style="grid-row: 1/1; grid-column: venue-b-start / venue-b-end">
      <span>Audimax</span>
    </div>

    <!-- sample venue C -->
    <div class="venue" style="grid-row: 1/1; grid-column: venue-c-start / venue-c-end">
      <span>Resselpark</span>
    </div>

    <!-- sample activity -->
    <div
      class="activity"
      style="grid-row: 2/2; grid-column: venue-a-activity-start / venue-a-activity-end"
      [style.height]="getMinuteHeight(200)"
      [style.top]="getMinuteHeight(60)"
    >
      <span class="tag">Activity</span>
      <span>Tee des Tages</span>
    </div>

    <!-- sample shift A -->
    <div
      class="shift"
      style="grid-row: 2/2; grid-column: venue-a-shift-col-1-start / venue-a-shift-col-1-start"
      [style.height]="getMinuteHeight(80)"
      [style.top]="getMinuteHeight(30)"
    >
      <span class="tag ">Applicable</span>
      <span class="time">22.30 - 23.30</span>
      <span>Teebeutel füllen</span>
    </div>

    <!-- sample shift B -->
    <div
      class="shift"
      style="grid-row: 2/2; grid-column: venue-a-shift-col-2-start / venue-a-shift-col-2-start"
      [style.height]="getMinuteHeight(120)"
      [style.top]="getMinuteHeight(60)"
    >
      <span class="tag">Conflict</span>
      <span class="time">22.30 - 23.30</span>
      <span>Häferl austeilen</span>
    </div>

    <!-- sample shift C -->
    <div
      class="shift signed-up"
      style="grid-row: 2/2; grid-column: venue-a-shift-col-1-start / venue-a-shift-col-1-start"
      [style.height]="getMinuteHeight(120)"
      [style.top]="getMinuteHeight(150)"
    >
      <span class="tag">Signed Up</span>
      <span class="time">22.30 - 23.30</span>
      <span>Häferl abwaschen</span>
    </div>


    <!-- sample activity -->
    <div
      class="activity"
      style="grid-row: 2/2; grid-column: venue-b-activity-start / venue-b-activity-end"
      [style.height]="getMinuteHeight(900)"
      [style.top]="getMinuteHeight(100)"
    >
      <span class="tag">Activity</span>
      <span>LOTR Marathon</span>
    </div>

    <div
      class="activity"
      style="grid-row: 2/2; grid-column: venue-b-activity-start / venue-b-activity-end"
      [style.height]="getMinuteHeight(120)"
      [style.top]="getMinuteHeight(1010)"
    >
      <span class="tag">Activity</span>
      <span>Post Movie Talk</span>
    </div>

    <!-- sample shift A -->
    <div
      class="shift"
      style="grid-row: 2/2; grid-column: venue-b-shift-col-1-start / venue-b-shift-col-1-start"
      [style.height]="getMinuteHeight(80)"
      [style.top]="getMinuteHeight(50)"
    >
      <span class="tag">Applicable</span>
      <span class="time">22.30 - 23.30</span>
      <span>Beamer Setup</span>
    </div>

    <!-- sample shift B -->
    <div
      class="shift"
      style="grid-row: 2/2; grid-column: venue-b-shift-col-2-start / venue-b-shift-col-2-start"
      [style.height]="getMinuteHeight(400)"
      [style.top]="getMinuteHeight(200)"
    >
      <span class="tag">Conflict</span>
      <span class="time">22.30 - 23.30</span>
      <span>Snack Prep</span>
    </div>

    <!-- sample shift C -->
    <div
      class="shift"
      style="grid-row: 2/2; grid-column: venue-b-shift-col-2-start / venue-b-shift-col-2-start"
      [style.height]="getMinuteHeight(30)"
      [style.top]="getMinuteHeight(100)"
    >
      <span class="tag">Applicable</span>
      <span class="time">22.30 - 23.30</span>
      <span>Part 1 Setup</span>
    </div>

    <!-- sample shift C -->
    <div
      class="shift"
      style="grid-row: 2/2; grid-column: venue-b-shift-col-1-start / venue-b-shift-col-1-start"
      [style.height]="getMinuteHeight(30)"
      [style.top]="getMinuteHeight(350)"
    >
      <span class="tag">Applicable</span>
      <span class="time">22.30 - 23.30</span>
      <span>Part 2 Setup</span>
    </div>

    <!-- sample shift C -->
    <div
      class="shift signed-up"
      style="grid-row: 2/2; grid-column: venue-b-shift-col-1-start / venue-b-shift-col-1-start"
      [style.height]="getMinuteHeight(30)"
      [style.top]="getMinuteHeight(700)"
    >
      <span class="tag">Signed Up</span>
      <span class="time">22.30 - 23.30</span>
      <span>Part 3 Setup</span>
    </div>

    <!-- sample shift C -->
    <div
      class="shift"
      style="grid-row: 2/2; grid-column: venue-b-shift-col-1-start / venue-b-shift-col-1-start"
      [style.height]="getMinuteHeight(170)"
      [style.top]="getMinuteHeight(950)"
    >
      <span class="tag">Applicable</span>
      <span class="time">22.30 - 23.30</span>
      <span>Peter Jackson & Cast Security</span>
    </div>


    <!-- sample activity -->
    <div
      class="activity"
      style="grid-row: 2/2; grid-column: venue-c-activity-start / venue-c-activity-end"
      [style.height]="getMinuteHeight(24*60)"
      [style.top]="getMinuteHeight(10)"
    >
      <span class="tag">Activity</span>
      <span>Resselpark Ratten Worship</span>
    </div>

    <!-- sample shift C -->
    <div
      class="shift signed-up"
      style="grid-row: 2/2; grid-column: venue-c-shift-col-2-start / venue-c-shift-col-2-start"
      [style.height]="getMinuteHeight(120)"
      [style.top]="getMinuteHeight(1300)"
    >
      <span class="tag">Signed Up</span>
      <span class="time">22.30 - 23.30</span>
      <span>Ratten füttern</span>
    </div>


  </div>

</div>
