

.date {
  @apply sticky left-0 top-0 h-full border-r-2 border-framing-card bg-background-card z-50 font-semibold text-sm grid place-content-center;
}

.timestamp {
  @apply sticky left-0 h-full border-r-2 border-framing-card bg-background-card z-40;

  > .hour {
    @apply absolute w-full grid place-content-center text-sm opacity-50;
  }
}

.venue {
  @apply sticky top-0 z-10 grid place-content-center font-semibold border-b-2 border-framing-card bg-background-card pb-xs;
}

.activity {
  @apply absolute w-full grid place-content-center font-semibold border-2 border-framing-card bg-background-card rounded-lg;
  @apply font-semibold text-sm text-opacity-50 text-center;
  container-type: size;

  .tag {
    @apply absolute top-[.5rem] left-[.5rem] text-xs opacity-30;
  }
}

.shift {
  @apply absolute w-full grid place-content-center font-semibold border-2 border-framing-item bg-background-item rounded-lg;
  @apply hover:border-framing-highlight cursor-pointer transition-colors;
  @apply font-semibold text-sm text-opacity-50 text-center;
  container-type: size;

  &.signed-up {
    @apply border-framing-item_success bg-background-item_success hover:border-framing-highlight_success;
  }

  &.eligible {
    @apply border-framing-item_hint bg-background-item_hint hover:border-framing-highlight_hint;
  }

  > .tag, > .time {
    @apply hidden;
  }

  @container (min-height: 4rem) {
    > .tag {
      @apply block absolute top-[.5rem] left-[.5rem] text-xs opacity-30 font-normal;
    }
    > .time {
      @apply block absolute bottom-[.5rem] left-[.5rem] text-xs opacity-30 font-normal;
    }
  }
}
