

<!-- list of available trades -->
@if (position$ | async; as options){
  @if (options.slot.requestedTrades.length > 0 || options.slot.offeredTrades.length > 0) {
    <div class="flex flex-col gap-md">
      @for (requestedTrade of options.slot.requestedTrades; track requestedTrade.createdAt) {
        <div class="grid grid-cols-[auto_1fr] gap-md items-center">
          <div class="badge h-fit">
            <fa-icon [icon]="icons.trade" />
            Trade Request
          </div>
          <div class="flex flex-row flex-wrap gap-x-xs items-center">
            <span>You requested</span>
            <xsb-input-button size="text" content="a trade" (click)="dialogTradeInfo$.next(requestedTrade)" />
            <span>with {{requestedTrade.requestedVolunteer.firstName}} {{requestedTrade.requestedVolunteer.lastName | slice:0:1}}.</span>
          </div>
        </div>
      }

      @for (offeredTrade of options.slot.offeredTrades; track offeredTrade.createdAt) {
        <div class="flex flex-row gap-sm items-center">
          <div class="badge hint">
            <fa-icon [icon]="icons.trade" />
            Trade Offer
          </div>
          <span>{{offeredTrade.offeringVolunteer.firstName}} {{offeredTrade.offeringVolunteer.lastName | slice:0:1}}. offers</span>
          <xsb-input-button size="text" content="a position" (click)="dialogTradeInfo$.next(offeredTrade)" />
        </div>
      }
    </div>

    <div class="mb-lg mt-lg border-b-ctr border-framing-card w-full"></div>
  }
}

<div class="flex flex-col gap-md">

  <!-- action title -->
  @if (header$ | async; as header) {
    <b>{{header}}</b>
  }

  <!-- longer description of actions the user can take -->
  @if (body$ | async; as body) {
    <p class="whitespace-pre-line">{{body}}</p>
  }

  <!-- action buttons -->
  @if (currentUserId$ | async; as userId) {
    @if (position$ | async; as position){
      @if (actions$ | async; as actions) {
        <div class="flex flex-row gap-sm">
          @for (action of actions; track action) {
            <div class="flex-1 flex-grow">
            @switch(action) {
              @case("SIGN_UP") {
                <xsb-input-button content="Sign Up" action="success" (click)="signUp(position.slot, position.shift, userId)" />
              }

              @case("SIGN_OUT") {
                <xsb-input-button content="Leave Position" action="normal" (click)="signOut(position.slot)" />
              }

              @case("REQUEST_SIGN_UP") {
                <xsb-input-button content="Request Sign Up" action="success" (click)="requestSignUp(position.slot, position.shift)"  />
              }

              @case("REQUEST_SIGN_OUT") {
                <xsb-input-button content="Request Unassign" action="success" (click)="requestSignOut(position.slot, position.shift)"  />
              }

              @case("REQUEST_TRADE") {
                <xsb-input-button content="Request Trade" action="normal" (click)="requestTrade(position.slot, position.shift)"  />
              }

              @case("DISABLED_REQUEST_SIGN_UP") {
                <xsb-input-button content="Request Sign Up" action="success" [lock]="true" [disableLockIcon]="true" />
              }

              @case("DISABLED_REQUEST_SIGN_OUT") {
                <xsb-input-button content="Request Leave" action="normal" [lock]="true" [disableLockIcon]="true" />
              }

              @case("DISABLED_SIGN_UP") {
                <xsb-input-button content="Sign Up" action="success" [lock]="true" [disableLockIcon]="true" />
              }
            }
            </div>
          }
        </div>

        <app-dialog-trade-request
          [requestOptions]="(tradeRequestOptions$ | async) ?? undefined"
          (submitted)="$event !== undefined ? submitTradeRequest(position.slot, $event.partner, userId, $event.slot) : 0; tradeRequestOptions$.next(undefined)"
        />

        <app-dialog-trade-details
          [tradeInfo]="(dialogTradeInfo$ | async) ?? undefined"
          (tradeChanged)="positionSignupChanged.emit(undefined); dialogTradeInfo$.next(undefined)"
        />
      }
    }
  }
</div>

@if (signupOptions$ | async; as signupOptions){
  <xsb-dialog (closeDialog)="signupOptions$.next(undefined)">

    <ng-container dialog-header>
      <h2>Sign Up Options</h2>
    </ng-container>

    <ng-container dialog-body>
      hello there
    </ng-container>

  </xsb-dialog>
}

