<div class="flex flex-col gap-md">
  @if (header$ | async; as header) {
    <b>{{header}}</b>
  }

  @if (body$ | async; as body) {
    <p class="whitespace-pre-line">{{body}}</p>
  }


  @if (currentUserId$ | async; as userId) {
    @if (position$ | async; as position){
      @if (actions$ | async; as actions) {
        <div class="flex flex-row gap-sm">
          @for (action of actions; track action) {
            <div class="flex-1 flex-grow">

            @switch(action) {
              @case("SIGN_UP") {
                <xsb-input-button content="Sign Up" action="success" (click)="signUp(position.slot, position.shift, userId)" />
              }

              @case("SIGN_OUT") {
                <xsb-input-button content="Leave Position" action="normal" (click)="signOut(position.slot)" />
              }

              @case("REQUEST_SIGN_UP") {
                <xsb-input-button content="Request Sign Up" action="success" (click)="requestSignUp(position.slot, position.shift)"  />
              }

              @case("REQUEST_SIGN_OUT") {
                <xsb-input-button content="Request Unassign" action="success" (click)="requestSignOut(position.slot, position.shift)"  />
              }

              @case("REQUEST_TRADE") {
                <xsb-input-button content="Request Trade" action="normal" (click)="requestTrade(position.slot, position.shift)"  />
              }

              @case("DISABLED_REQUEST_SIGN_UP") {
                <xsb-input-button content="Request Sign Up" action="success" [lock]="true" [disableLockIcon]="true" />
              }

              @case("DISABLED_REQUEST_SIGN_OUT") {
                <xsb-input-button content="Request Leave" action="normal" [lock]="true" [disableLockIcon]="true" />
              }

              @case("DISABLED_SIGN_UP") {
                <xsb-input-button content="Sign Up" action="success" [lock]="true" [disableLockIcon]="true" />
              }
            }
            </div>
          }
        </div>

        <app-dialog-trade-request
          [requestOptions]="(tradeRequestOptions$ | async) ?? undefined"
          (submitted)="$event !== undefined ? submitTradeRequest(position.slot, $event.partner, userId, $event.slot) : 0; tradeRequestOptions$.next(undefined)"
        />
      }
    }
  }
</div>

@if (signupOptions$ | async; as signupOptions){
  <xsb-dialog (closeDialog)="signupOptions$.next(undefined)">

    <ng-container dialog-header>
      <h2>Sign Up Options</h2>
    </ng-container>

    <ng-container dialog-body>
      hello there
    </ng-container>

  </xsb-dialog>
}

