<div class="h-full w-full overflow-auto no-scrollbar" #calendarParent
     (scroll)="scrolled$.next($event); setScrolling(true)"
     (scrollend)="setScrolling(false)"
>

  @if (config$ | async; as config) {

    <!-- calendar grid: x -> grid columns, scrollable venues; y: continuous big row, time axis, growing by date range, position by top -->
    <div
      class="relative grid gap-md gap-y-0"
      [style.grid-template-columns]="getGridColumns(config)"
      [style.grid-template-rows]="'auto ' + getMinuteHeight(getHours(config).length * 60)"
    >

      <!-- date side -->
      <div style="grid-row: 1 / 1; grid-column: time-start / time-end" class="date">
        <fa-icon [icon]="iconDay" class="text-sm" />
        <span>{{ headDay$ | async | date:"shortDate" }}</span>
      </div>


      <!-- filter side -->
      <div style="grid-row: 1 / 1; grid-column: filter-start / filter-end" class="filter">
        @if(config.hideFilterToggle !== true) {
          <xsb-input-button [icon]="iconFilter" size="minimal" content="Filter" (click)="filterToggleClicked()" />
        }
      </div>

      <div class="absolute hidden">
        {{bodyInitialized$.next(true)}}
      </div>

      <!-- timeline side -->
      <div style="grid-row: 2 / 2; grid-column: time-start / time-end" class="timestamp">

        @for (hour of getHours(config); track hour) {
          <div
            class="hour"
            [ngClass]="{ 'new-day': hour % 24 === 0 }"
            [style.top]="getMinuteHeight(hour * 60)"
            [style.height]="getMinuteHeight(60)"
          >
            @if (hour % 24 === 0){
              {{ getDayOfHour(hour, config) | date:"shortDate" }}
            } @else {
              {{ (hour % 24).toString().padStart(2, "0") }}:00
            }
          </div>
        }
      </div>

      <!-- background for venue headers -->
      <div class="venue-bg" style="grid-column: 1 / -1; grid-row: 1"></div>

      <!-- time grid row markers for every hour -->
      @for (hour of getHours(config); track hour) {
        <div
          class="hour-marker"
          [ngClass]="{ 'new-day': hour !== 0 && hour % 24 === 0 }"
          style="grid-column: 1 / -1; grid-row: 2 / 2"
          [style.top]="getMinuteHeight(hour * 60)"
        ></div>
      }

      @for (venue of config.locationLayouts; track venue.location.id) {

        <!-- venue header -->
        <div class="venue" style="grid-row: 1/1; grid-column: venue-{{venue.location.id}}-start / venue-{{venue.location.id}}-end">
          <fa-icon [icon]="iconLocation" class="text-sm" />
          <span>{{venue.location.name}}</span>
        </div>

        <!-- venue header gap -->
        <div
          class="venue-gap"
          style="grid-column: venue-{{venue.location.id}}-gap-start / venue-{{venue.location.id}}-gap-end; grid-row: 1/-1;"
        ></div>

        <!-- venue clickable area -->
        @if (config.emptySpaceClickCallback !== undefined) {
          <div
            tabindex="0"
            #flow
            class="venue-flow"
            (keydown)="flow.click()"
            (click)="config.emptySpaceClickCallback(getDateOfClickY(flow, $event, config), venue.location)"
            style="grid-row: 2/2; grid-column: venue-{{venue.location.id}}-start / venue-{{venue.location.id}}-end"
          ></div>
        }
      }

      <!-- venue data -->
      @if (schedule$ | async; as schedule) {

          <!-- shifts -->
          @for (shiftItem of schedule.shifts; track shiftItem.shift.shiftDto.id) {
            <div
              (click)="config.shiftClickCallback !== undefined ? config.shiftClickCallback(shiftItem.shift.shiftDto) : 0"
              (keydown)="0"
              tabindex="0"
              [ngClass]="[getShiftDisplayCategory(shiftItem.shift.shiftDto), config.shiftClickCallback !== undefined ? 'item-primary' : 'item-secondary']"
              style="grid-row: 2/2; grid-column: venue-{{shiftItem.location.id}}-shift-col-{{shiftItem.shift.columnIndex + 1}}-start / venue-{{shiftItem.location.id}}-shift-col-{{shiftItem.shift.columnIndex +  1}}-end"
              [style.height]="getMinuteHeight(getItemMinutesDuration(shiftItem.shift.shiftDto))"
              [style.top]="getMinuteHeight(getItemMinutesFromStart(shiftItem.shift.shiftDto, config))"
            >
              <span class="tag">{{getShiftDisplayTag(shiftItem.shift.shiftDto)}}</span>
              <span class="time">
                {{shiftItem.shift.shiftDto.startTime | date:"shortTime"}} - {{shiftItem.shift.shiftDto.endTime | date:"shortTime"}}
              </span>
              <span>{{shiftItem.shift.shiftDto.name}}</span>
            </div>
          }

          <!-- activities -->
          @for (activityItem of schedule.activities; track activityItem.activity.id) {
            <div
              tabindex="-1"
              (keydown)="0"
              [ngClass]="config.activityClickCallback !== undefined ? 'item-primary' : 'item-secondary'"
              (click)="config.activityClickCallback !== undefined ? config.activityClickCallback(activityItem.activity) : 0"
              style="grid-row: 2/2; grid-column: venue-{{activityItem.location.id}}-activity-start / venue-{{activityItem.location.id}}-end"
              [style.height]="getMinuteHeight(getItemMinutesDuration(activityItem.activity))"
              [style.top]="getMinuteHeight(getItemMinutesFromStart(activityItem.activity, config))"
            >
              <span class="time">
                {{activityItem.activity.startTime | date:"shortTime"}} - {{activityItem.activity.endTime | date:"shortTime"}}
              </span>
              <span>{{activityItem.activity.name}}</span>
            </div>
          }
      }
    </div>
  }
</div>
