@if (schedule !== undefined){
  <div class="h-full w-full overflow-auto no-scrollbar">

    <!-- calendar grid: x -> grid columns, scrollable venues; y: continuous big row, time axis, growing by date range, position by top -->
    <div
      class="relative grid gap-md gap-y-0 "
      [style.grid-template-columns]="getGridColumns(schedule)"
      [style.grid-template-rows]="'auto ' + getMinuteHeight(getHours().length * 60)"
    >

      <!-- date side -->
      <div style="grid-row: 1 / 1; grid-column: time-start / time-end" class="date">
        12.12.2025
      </div>

      <!-- timeline side -->
      <div style="grid-row: 2 / 2; grid-column: time-start / time-end" class="timestamp">

        @for (hour of getHours(); track hour) {
          <div
            class="hour"
            [ngClass]="{ 'new-day': hour % 24 === 0 }"
            [style.top]="getMinuteHeight(hour * 60)"
            [style.height]="getMinuteHeight(60)"
          >
            @if (hour % 24 === 0){
              {{ getDayOfHour(hour) | date:"shortDate" }}
            } @else {
              {{ (hour % 24).toString().padStart(2, "0") }}:00
            }
          </div>
        }
      </div>

      <!-- time grid row markers for every hour -->
      @for (hour of getHours(); track hour) {
        <div
          class="hour-marker"
          [ngClass]="{ 'new-day': hour % 24 === 0 }"
          style="grid-column: 1 / -1; grid-row: 2 / 2"
          [style.top]="getMinuteHeight(hour * 60)"
        ></div>
      }

      <!-- venue data -->
      @for (venue of schedule.locations; track venue.location.id) {

        <!-- venue header -->
        <div class="venue" style="grid-row: 1/1; grid-column: venue-{{venue.location.id}}-start / venue-{{venue.location.id}}-end">
          <fa-icon [icon]="iconLocation" class="text-sm" />
          <span>{{venue.location.name}}</span>
        </div>

        <!-- venue header gap -->
        <div
          class="venue-gap"
          style="grid-column: venue-{{venue.location.id}}-gap-start / venue-{{venue.location.id}}-gap-end; grid-row: 1/-1;"
        ></div>

        <!-- venue shifts -->
        @for (shift of venue.shiftColumns; track shift.shiftDto.id) {
          <div
            (click)="viewShift = true"
            (keyup)="viewShift = true"
            tabindex="0"
            class="shift"
            [ngClass]="getShiftDisplayCategory(shift.shiftDto)"
            style="grid-row: 2/2; grid-column: venue-{{venue.location.id}}-shift-col-{{shift.columnIndex + 1}}-start / venue-{{venue.location.id}}-shift-col-{{shift.columnIndex +  1}}-end"
            [style.height]="getMinuteHeight(getItemMinutesDuration(shift.shiftDto))"
            [style.top]="getMinuteHeight(getItemMinutesFromStart(shift.shiftDto))"
          >
            <span class="tag">{{getShiftDisplayTag(shift.shiftDto)}}</span>
            <span class="time">
              {{shift.shiftDto.startTime | date:"shortTime"}} - {{shift.shiftDto.endTime | date:"shortTime"}}
            </span>
            <span>{{shift.shiftDto.name}}</span>
          </div>
        }



        <!-- venue activities -->
        @for (activity of venue.activities; track activity.id) {
          <div
            class="activity"
            style="grid-row: 2/2; grid-column: venue-{{venue.location.id}}-activity-start / venue-{{venue.location.id}}-end"
            [style.height]="getMinuteHeight(getItemMinutesDuration(activity))"
            [style.top]="getMinuteHeight(getItemMinutesFromStart(activity))"
          >
            <span>{{activity.name}}</span>
          </div>
        }
      }

    </div>

  </div>
}

@if (viewShift){
  <xsb-dialog (closeDialog)="viewShift = false">
    <ng-container dialog-header>
      <h1 class="signature-gradient-font">Shift Details</h1>
    </ng-container>
    <ng-container dialog-body>
      <app-shift-details-view></app-shift-details-view>
    </ng-container>
  </xsb-dialog>
}
