@if (text !== undefined && text.length > 0) {
  <div
    @tooltip
    style="box-shadow: 0px 0px 15px 5px #000000;"
    class="block pointer-events-none px-sm py-xs bg-framing-highlight text-white text-sm rounded-lg
    border-0 relative whitespace-pre-line text-center"
  >

    <!-- content -->
    {{text}}

    <!-- arrow -->
    <div class="top-full absolute left-[50%] translate-x-[-50%]
    w-0 h-0 border-t-[6px] border-framing-highlight border-l-transparent border-r-transparent border-l-[6px] border-r-[6px]"></div>
  </div>
}
