.page {

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr;
  @apply bg-background-item;

  .profile {
    @apply rounded-full aspect-square h-10 bg-blue-400 grid place-content-center select-none cursor-pointer;
    @apply border-ctr border-framing-item;
  }

  .header {
    grid-row: 1;
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    .breadcrumbs {
      @apply border-ctr border-framing-item rounded-xl;
      user-select: none;
      justify-self: start;
      align-items: center;
      display: flex;
      flex-direction: row;

      .breadcrumb {
        padding: .4rem .6rem;
        @apply border-ctr border-framing-item transition-colors;
        font-weight: 600;
        //box-shadow: 0px 0px 10px 7px rgb(18, 20, 30);
        cursor: pointer;

        &:hover {
          @apply bg-background-item border-framing-highlight;
          //background: rgba(55, 63, 101, 20%);
          //transform: scale(0.97);
          transition: 0.1s;
        }

        &:last-child {
          @apply rounded-r-lg;
          background: rgba(55, 63, 101, 30%);
        }

        &:first-child {
          @apply rounded-l-lg;
        }
      }
    }

    .title {
      justify-self: center;

      h1 {
        font-weight: 800;
        font-size: 2.1rem;
        color: white;
      }
    }

    .links {
      justify-self: end;
    }
  }


  .content {
    padding: 2em;
    grid-row: 2;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
    background: linear-gradient(180deg, rgb(13 13 20) 0%, rgb(13 14 22) 100%);
    box-shadow: 0 0 1px 1px rgb(40 43 87);/*0px 0px 10px 7px rgb(28 32 55), 0px -2px 0px 0px rgb(193 193 209);*/
  }


}
