<div class="page">

  <div class="page-bg noise">

  </div>

  <!-- header area with title, profile link and breadcrumbs -->
  <div class="header">

    <!-- breadcrumb navigation items -->
    <div class="breadcrumbs">

      @for (crumb of (breadcrumbs$ | async); track crumb; let i = $index) {
        <div class="breadcrumb" [routerLink]="crumb.getFullHref()">
          {{crumb.name}}
        </div>
      }

    </div>

    <!-- header in the middle -->
    <div class="title signature-gradient-font">
      <h1 class="compact">{{pageName$ | async}}</h1>
    </div>

    <!-- quick links at the right side -->
    <div class="links">

      <!-- notifications -->
      @if (unseenNotificationCount$ | async; as unseen) {
        <div class="notifications" routerLink="notifications" [ngClass]="unseen.count > 0 ? 'unseen' : 'idle'">
          <span class="icon"><fa-icon [icon]="icons.notification" /></span>
          <span class="count">{{unseen.count}}</span>
        </div>
      }

      <!-- user acc display -->
      @if (profile$ | async; as profile) {
        @if(profile !== null) {
          <div
            class="profile"
            routerLink="/me"
          >
            <span class="font-bold uppercase text-white">{{getInitials(profile)}}</span>
          </div>
        }
      }

    </div>
  </div>

  <!-- content area to be projected -->
  <div class="content overflow-auto">
    <ng-content></ng-content>
  </div>
</div>
