.page {

  width: 100vw;
  height: 100vh;
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr;
  /*@apply bg-background-card;*/
  /*background: linear-gradient(180deg, rgb(13, 13, 20) 0%, rgb(4 2 13) 100%);*/

  .page-bg {
    position: fixed;
    inset: 0;
    background: linear-gradient(343deg, rgb(8 8 14) 0%, rgb(4, 2, 13) 100%);
    z-index: -1;
  }

  .profile {
    @apply rounded-full aspect-square h-10 bg-framing-highlight_hint grid place-content-center select-none cursor-pointer;
    /*@apply border-ctr border-framing-item;*/
  }

  .notifications {
    @apply text-lg grid aspect-square h-10 rounded-full place-content-center grid-cols-[1fr_1fr] grid-rows-[1fr_1fr] cursor-pointer;

    &:hover {
      @apply bg-framing-card transition-colors;
    }

    .icon {
      @apply col-start-1 row-start-1 col-span-2 row-span-2 grid place-content-center text-xl;
    }

    .count {
      @apply col-start-2 row-start-1 grid place-content-center self-start text-white font-bold aspect-square text-sm;
      @apply bg-red-700 rounded-full z-10;
      align-self: flex-end;

    }
    &.idle .count {
      @apply hidden;
    }
  }

  .header {
    grid-row: 1;
    padding: 1em;
    gap: 1rem;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    .breadcrumbs {
      /*@apply border-ctr border-framing-item rounded-xl;*/
      user-select: none;
      justify-self: start;
      align-items: center;
      display: flex;
      flex-direction: row;

      .breadcrumb {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .4rem .6rem;
        @apply border-ctr border-framing-item transition-colors;
        font-weight: 600;
        //box-shadow: 0px 0px 10px 7px rgb(18, 20, 30);
        cursor: pointer;
        max-width: 20ex;

        &:hover {
          @apply bg-background-item border-framing-highlight;
          //background: rgba(55, 63, 101, 20%);
          //transform: scale(0.97);
          transition: 0.1s;
        }

        &:last-child {
          @apply rounded-r-lg;
          /*background: rgba(55, 63, 101, 30%);*/
          background: linear-gradient(145deg, rgb(33 48 87 / 43%), rgb(57 63 175 / 23%) 40%, rgb(51 52 150 / 55%) 100%);
        }

        &:first-child {
          @apply rounded-l-lg;
        }
      }
    }

    .title {
      justify-self: center;

      h1 {
        font-weight: 800;
        font-size: 2.1rem;
        line-height: 2.5rem;
        color: white;
      }
    }

    .links {
      justify-self: end;
      @apply flex flex-row items-center gap-lg;
    }
  }


  .content {
    padding: 2rem;
    padding-bottom: 1rem;
    grid-row: 2;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;

   /* box-shadow: 0 0 1px 1px rgb(40 43 87);*//*0px 0px 10px 7px rgb(28 32 55), 0px -2px 0px 0px rgb(193 193 209);*/
  }


}
