@if (viewWhen === true) {
  <xsb-dialog success="Sign Up" danger="Cancel & Close" (closeDialog)="result.next($event)">

    <ng-container dialog-header>
      <h1>Sign Up for Position</h1>
    </ng-container>

    <ng-container dialog-body>
      <div class="flex flex-col gap-md">

        <div class="grid grid-cols-[auto_1fr] gap-x-md ">
          <small>Shift Position:</small> <span>Pilot Shift: Pilot Position</span>
          <small>Date:</small> <span>22.12.2025 08:00 - 22.12.2025 10:00</span>
          <small>Location:</small> <span>Venue A</span>
        </div>

        <div>
          When you sign up for a position, your attendance is crucial for the success of the event.<br>
          After you are signed up, you can only remove it if someone takes it over from you.<br>
          This can be initiated with the "auction" and "trade" features.
        </div>

        <b>Do you want to sign up for this position?</b>
      </div>
    </ng-container>

  </xsb-dialog>
}
