@if (eventDashboard$ | async; as event){

  <div class="card w-full h-fit grid grid-cols-[auto_auto] gap-lg">

    <h1 class="signature-gradient-font col-span-2">
      <fa-icon class="icon" [icon]="icons.rewardsAlt" />
      Your Rewards
    </h1>

    <div class="col-span-2">
      Participate in shifts to earn reward points!
    </div>

    <div class="card compact spotlight w-full grid grid-cols-[auto_1fr] gap-y-0 gap-x-lg items-center">
      <div class="row-span-2 grid place-content-center">
        <fa-icon [icon]="icons.rewards" class="text-framing-highlight_hint" />
      </div>
      <h2 class="m-0 flex gap-md items-center text-base pr-md">
        Earned Points
      </h2>
      <span class="justify-self-start pr-md">{{event.rewardPoints}} Points</span>
    </div>

    <div class="grid items-center">
      <xsb-input-button content="Redeem your Points" />
    </div>
  </div>

}

