@if (event$ | async; as event) {

  <div class="card grid grid-columns-2 gap-md h-fit">

    <!-- info -->
    <h1 class="compact signature-gradient-font">
      <fa-icon class="icon" [icon]="icons.unavailable" />
      Manage Absence
    </h1>
    <p class="col-span-2">
      Set your absence times for calendar filtering and better shift suggestions.
    </p>

    <!-- set unavailability -->
    @if(timeConstraints$ | async; as timeConstraints) {
      <div class="grid grid-cols-[1fr_auto] col-span-2 gap-xs max-h-[15vh] overflow-y-auto">

        @for (constraint of timeConstraints; track constraint.id) {
          <div class="flex gap-lg items-center">

            @if (constraint.type === "EMERGENCY") {
              <div class="badge hint">
                <fa-icon [icon]="icons.unavailable" />
                Emergency
              </div>

              {{
                constraint.from | date:'dd.MM.yyyy'
              }}
            }

            @else {
              <div class="badge success">
                <fa-icon [icon]="icons.unavailable" />
                {{ getUnavailabilityDayLength(constraint) }}
              </div>

              {{
                constraint.from | date:'dd.MM.yyyy HH:mm'
              }} - {{
                constraint.to | date:'dd.MM.yyyy HH:mm'
              }}
            }

          </div>
          <xsb-input-button action="normal" content="Remove {{constraint.type === 'EMERGENCY' ? 'Emergency' : 'Absence'}}" size="text" (click)="removeUnavailability(constraint, event)" />
        }
      </div>
    }

    <div class="flex gap-sm">
      <xsb-input-button content="Add Absence" (click)="showUnavailabilityDialog = true" size="minimal" class="w-fit" />
      <xsb-input-button content="Set Emergency" (click)="showEmergencyDialog = true" action="danger" size="minimal" class="w-fit" />
    </div>
  </div>

  <app-dialog-add-unavailability [viewWhen]="showUnavailabilityDialog" (result)="unavailabilitySubmitted($event, event)" />
  <app-dialog-add-emergency [viewWhen]="showEmergencyDialog" (result)="emergencySubmitted($event, event)" />
}
