
<!-- card grid -->
<div class="flex flex-row gap-md">

  <!-- overview card -->
  <div class="card grid grid-columns-2 gap-lg w-[30rem] h-fit">

    <!-- properties -->
    <h1 class="compact signature-gradient-font">Pilot Shift</h1>
    <div class="badge success w-fit justify-self-end">
      <fa-icon [icon]="iconDate" />
      01.12.2025 09:00 - 12:30
    </div>
    <p class="col-span-2">
      This is a pilot shift for mockup purposes.<br>
      It does not yet exist in the database. This text right here is the long description of the shift.
    </p>

    <!-- activity info -->
    <div class="flex flex-col gap-y-xs">
      <span class="font-semibold opacity-50 text-sm">Related Activities</span>
      <div class="badge w-fit">
        <fa-icon [icon]="iconActivity" />
        Some Activity
      </div>
      <div class="badge w-fit">
        <fa-icon [icon]="iconActivity" />
        Other Activity
      </div>
    </div>

    <!-- location info -->
    <div class="flex flex-col gap-y-xs">
      <span class="font-semibold opacity-50 text-sm">Locations</span>
      <div class="badge w-fit">
        <fa-icon [icon]="iconLocation" />
        Venue A
      </div>
      <div class="badge w-fit">
        <fa-icon [icon]="iconLocation" />
        Venue B
      </div>
    </div>

    <!-- other badges-->
    <div class="flex gap-sm">
      <div class="badge hint" [app-tooltip]="'Self-assignment require \napproval or a trade'">
        <fa-icon [icon]="iconLockedPhase" />
        Assignments locked
      </div>
      <div class="badge success" [app-tooltip]="'The accumulated reward\nof your positions'">
        <fa-icon [icon]="iconReward" />
        100 points
      </div>
    </div>

  </div>


  <!-- sample positions -->
  <div class="grid grid-cols-[repeat(auto-fit,minmax(20rem,1fr))] grow gap-md">

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Light Technician',
      'This position is assigned. The shift is not locked. signedup && !locked',
      5, 4, PositionSlotDto.PositionSignupStateEnum.SignedUp)"
      [shiftLocked]="false" [tradeAvailable]="false" [auctionAvailable]="false"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Light Technician',
      'This position is assigned. The shift is locked. signedup && locked',
      5, 4, PositionSlotDto.PositionSignupStateEnum.SignedUp)"
      [shiftLocked]="true" [tradeAvailable]="false" [auctionAvailable]="false"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Light Technician',
      'This position is a regular signup with free slot. !signedup && !trade && initialphase && slotavailable',
      5, 4, PositionSlotDto.PositionSignupStateEnum.SignupPossible)"
      [shiftLocked]="false" [tradeAvailable]="false" [auctionAvailable]="false"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Sound Technician',
      'This position is a signup with trade accept. !signedup && trade',
      5, 5, PositionSlotDto.PositionSignupStateEnum.SignupPossible)"
      [shiftLocked]="false" [tradeAvailable]="true" [auctionAvailable]="false"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Bar Staff',
      'This position is a signup with auction accept. !signedup && !trade && auction',
      5, 1, PositionSlotDto.PositionSignupStateEnum.SignupPossible)"
      [shiftLocked]="false" [tradeAvailable]="false" [auctionAvailable]="true"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Bar Staff',
      'This position is a signup with auction accept. The shift is locked. !signedup && !trade && locked && auction',
      5, 1, PositionSlotDto.PositionSignupStateEnum.SignupPossible)"
      [shiftLocked]="true" [tradeAvailable]="false" [auctionAvailable]="true"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Bar Staff',
      'This position is a signup with trade request. The shift is locked. !signedup && !trade && locked && !auction && full',
      5, 5, PositionSlotDto.PositionSignupStateEnum.SignupPossible)"
      [shiftLocked]="true" [tradeAvailable]="false" [auctionAvailable]="false"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Bar Staff',
      'This position is a signup with signup request. The shift is locked. !signedup && !trade && locked && !auction && !full',
      5, 2, PositionSlotDto.PositionSignupStateEnum.SignupPossible)"
      [shiftLocked]="true" [tradeAvailable]="false" [auctionAvailable]="false"
    />

    <app-shift-details-position
      [shift]="demoShift"
      [position]="createDemoPosition(
      'Bar Staff',
      'This position is not eligible for the user.',
      5, 2, PositionSlotDto.PositionSignupStateEnum.NotEligible)"
      [shiftLocked]="true" [tradeAvailable]="false" [auctionAvailable]="false"
    />

  </div>

</div>

<app-dialog-shift-auction [viewWhen]="showAuctionDialog" (result)="showAuctionDialog = false" />
<app-dialog-shift-signup [viewWhen]="showSignupDialog" (result)="showSignupDialog = false" />
<app-dialog-shift-trade [viewWhen]="showTradeDialog" (result)="showTradeDialog = false" />
