<div class="grid w-full h-full place-content-center">

  <div class="card flex flex-col gap-md w-[30rem]">
    <div class="flex">
      <h1 class="signature-gradient-font grow">Pilot Event: Pilot Plan</h1>
      <div class="badge h-fit">
        <fa-icon [icon]="iconDate" />
        01.12.2025 - 24.12.2025
      </div>
    </div>

    <p>
      <small>About the event</small><br>
      This is the long event description. It contains some stuff that the administrator thinks is relevant.<br>
    </p>

    <div>
      <b>150 other people</b> have volunteered on ShiftControl.<br>
      Be one of them and make the event happen!
    </div>

    <div class="flex flex-row justify-center">
      <xsb-input-button action="success" content="Join Event as Volunteer" routerLink="/plans/planId" name="onboarding-join" />
    </div>

  </div>

</div>
