<div class="grid w-full h-full place-content-center">

  <div class="card flex flex-col gap-md w-[30rem]">
    <h1 class="signature-gradient-font">Pilot Event: Pilot Plan</h1>

    <small>
      This is the short event description.<br>
      01.12.2025 - 24.12.2025
    </small>

    <div>
      <h2>Welcome!</h2>
      <p>
        You have been invited to join this event as a volunteer.<br>
        After joining, you can choose your working shifts, participate in planning, and earn rewards for your involvement.
      </p>
    </div>

    <div class="flex flex-row justify-center">
      <xsb-input-button action="success" content="Join Event" routerLink="/plans/planId" name="onboarding-join" />
    </div>

  </div>

</div>
