@if (dashboard$ | async; as dashboard) {

  <!-- card grid -->
  <div class="grid grid-cols-[repeat(3,1fr)] grid-rows-[auto_1fr] gap-md h-full">

    <!-- overview card -->
    <div class="card grid grid-columns-2 gap-lg">

      <!-- info caption -->
      <h1 class="signature-gradient-font compact">Plan Overview</h1>
      <div class="badge w-fit justify-self-end"
           tooltipMaxWidth="30ex"
           [app-tooltip]="'Event dates of ' + dashboard.eventOverview.name"
      >
        <fa-icon [icon]="icons.date" />
        {{dashboard.eventOverview.startTime | date:"mediumDate"}} - {{dashboard.eventOverview.endTime | date:"mediumDate"}}
      </div>

      <!-- properties -->
      <p class="col-span-2 whitespace-pre-wrap">{{dashboard.shiftPlan.longDescription}}</p>

      <!-- own schedule stats -->
      <div class="flex flex-col items-start gap-xs">
        <small>Your stats</small>
        <div class="badge"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Days where you signed up for shifts in this plan'"
        >
          <fa-icon [icon]="icons.day" />
          {{dashboard.ownShiftPlanStatistics.busyDays}} Busy Days
        </div>
        <div class="badge"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Sum of signed up shifts in this plan'"
        >
          <fa-icon [icon]="icons.hour" />
          {{dashboard.ownShiftPlanStatistics.totalHours | number:"1.0-0"}} Shift Hours
        </div>
        <div class="badge success"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Reward points earned during this plan'"
        >
          <fa-icon [icon]="icons.rewards" />
          {{dashboard.rewardPoints}} Points Rewarded
        </div>
      </div>

      <!-- public stats -->
      <div class="flex flex-col items-start gap-xs">
        <small>Overall stats</small>
        <div class="badge hint"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Volunteers participating in this shift plan'"
        >
          <fa-icon [icon]="icons.volunteers" />
          {{dashboard.overallShiftPlanStatistics.volunteerCount}} Volunteers
        </div>
        <div class="badge hint"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Duration of shifts in this shift plan'"
        >
          <fa-icon [icon]="icons.hour" />
          {{dashboard.overallShiftPlanStatistics.totalHours | number:"1.0-0"}} Shift Hours
        </div>
      </div>

    </div>

    <!-- manage -->
    <div class="flex flex-col gap-lg row-start-2 h-fit">

      <!-- calendar link card -->
      <div class="card interaction spotlight" routerLink="calendar">
        <h1>
          <fa-icon [icon]="icons.calendar" class="icon" />
          View Shift Calendar
        </h1>
        <p>
          @if ((canManagePlan$ | async) === true) {
            Manage the shifts and their positions of this plan.
          } @else {
            Explore and manage all available shifts in the calendar.<br>
            Here, you can also create new shifts for volunteers to sign up to.
          }
        </p>
      </div>

      @if((canManagePlan$ | async) === true){
        <!-- manage plan -->
        <div class="card interaction" routerLink="edit">

          <!-- info -->
          <h1>
            <fa-icon [icon]="icons.manage" class="icon" />
            Manage Plan
          </h1>
          <p>
            Click here to manage plan details and invite planners & volunteers.
          </p>
        </div>
      }

      @if((canManagePlan$ | async) === true){
        <!-- signup dashboard -->
        <div class="card interaction" routerLink="signup-dashboard">

          <!-- info -->
          <h1>
            <fa-icon [icon]="icons.eligible" class="icon" />
            Manage Sign-Ups
          </h1>
          <p>
            Click here to manage how volunteers can sign up for shifts and handle requests by volunteers.
          </p>
        </div>
      }

    </div>

    <!-- schedule card-->
    <div class="card row-span-2 flex flex-col gap-md">

      <!-- title -->
      <h1 class="col-span-2 signature-gradient-font">
        <fa-icon [icon]="icons.schedule" class="icon" />
        Plan Schedule
      </h1>

      <div class="grow overflow-auto">
        @if(shiftsWithOrigin$ | async; as shifts) {
          <app-shift-schedule [showShiftDescription]="true" [showShiftPersonalDetails]="true" [shifts]="shifts" />
        }
      </div>
    </div>

    <!-- auction/trade card-->
    <div class="card row-span-2 flex flex-col gap-md ">

      <!-- title -->
      <h1 class="col-span-2 signature-gradient-font">
        <fa-icon [icon]="icons.trade" class="icon" />
        Shift Plan Auctions & Trades
      </h1>

      <div class="grow overflow-auto">
        <app-shift-trade-auction />
      </div>
    </div>

  </div>
}
