
<!-- card grid -->
<div class="grid grid-cols-[repeat(3,1fr)] grid-rows-[auto_1fr] gap-md h-full">

  <!-- overview card -->
  <div class="card grid grid-columns-2 gap-lg">

    <!-- info caption -->
    <span class="col-span-2 opacity-50 font-semibold text-sm">Plan Overview</span>

    <!-- properties -->
    <h1 class="col-span-2 text-xl font-bold signature-gradient-font">Pilot Event: Pilot Plan</h1>
    <p class="col-span-2">
      This is a pilot event shift plan for mockup purposes.<br>
      It does not yet exist in the database. This text right here is the long description of the shift plan.
    </p>

    <!-- own schedule stats -->
    <div class="flex flex-col">
      <span class="font-semibold opacity-50 text-sm">Your schedule</span>
      <span>➜ 5 busy days</span>
      <span>➜ total 10 hours</span>
    </div>

    <!-- public stats -->
    <div class="flex flex-col">
      <span class="font-semibold opacity-50 text-sm">Public stats</span>
      <span>➜ 200 hours</span>
      <span>➜ 30 volunteers</span>
    </div>

    <!-- rewards-->
    <span class="col-span-2">
      <span class="font-semibold opacity-50 text-sm">Total reward:</span>
       50 points
    </span>

  </div>

  <!-- calendar link card -->
  <div class="card interaction row-start-2 h-fit" routerLink="calendar">
    <h1 class="title">View Shift Calendar</h1>
    <p>
      Click to explore all available shifts in  the calendar.<br>
      Here, you can also sign up to shifts that you want to participate in.
    </p>
  </div>

  <!-- schedule card-->
  <div class="card row-span-2 flex flex-col gap-md overflow-auto">

    <!-- title -->
    <h1 class="title col-span-2 signature-gradient-font">Your Schedule</h1>

    <!-- schedules by day -->
    <div class="flex flex-col gap-md grow overflow-auto">

      @for (date of ["Monday, 01.12.2025", "Tuesday, 02.12.2025"]; track date) {

        <!-- date separator -->
        <span class="col-span-2 opacity-50 font-semibold text-sm">{{date}}</span>

        @for (card of [1,2,3,4,5]; track card) {
          <div
            class="border-2 border-framing-item bg-background-item cursor-pointer rounded-xl p-md grid grid-cols-2"
            [routerLink]="'otherid'"
          >
            <div class="font-semibold">Pilot Shift</div>
            <span class="font-semibold opacity-50 text-sm justify-self-end" >08:00 - 12:00</span>
            <p class="col-span-2">
              This is the short description of the shift.
            </p>
          </div>
        }
      }

    </div>
  </div>

  <!-- auction/trade card-->
  <div class="card row-span-2 flex flex-col gap-md overflow-auto">

    <!-- title -->
    <h1 class="title col-span-2 signature-gradient-font">Shift Auctions & Trades</h1>

    <!-- list of trades/auctions -->
    <div class="flex flex-col gap-md grow overflow-auto">

      @for (card of [1,2]; track card) {

        <!-- card for item: trade -->
        <div class="border-2 border-framing-card bg-background-card rounded-xl p-md grid grid-cols-[2fr_1fr_2fr] gap-sm">

          <!-- type -->
          <div class="font-semibold opacity-50 text-sm col-span-2">Trade</div>

          <!-- owner -->
          <div class="font-semibold opacity-50 text-sm justify-self-end">request by Paul</div>

          <!-- trade: left and right info -->
          <div class="flex flex-col items-end">
            <div>Shift 1</div>
            <div class="font-semibold opacity-50 text-sm">01.12.2025 08:00</div>
          </div>

          <div class="text-center">⟺</div>

          <div class="flex flex-col items-start">
            <div>Shift 2</div>
            <div class="font-semibold opacity-50 text-sm">01.12.2025 08:00</div>
          </div>

          <!-- info  -->
          <span class="col-span-3">Paul wants to trade their shift "Shift 2" against your shift "Shift 1".</span>

          <!-- actions -->
          <div class="col-span-3 flex flex-row gap-md">
            <xsb-input-button size="minimal" content="Accept" action="success" />
            <xsb-input-button size="minimal" content="Decline" action="danger" />
            <xsb-input-button size="minimal" content="View Details" />
          </div>

        </div>

        <!-- card for item: auction -->
        <div class="border-2 border-framing-card bg-background-card rounded-xl p-md grid grid-cols-[2fr_1fr_2fr] gap-sm">

          <!-- type -->
          <div class="font-semibold opacity-50 text-sm col-span-2">Auction</div>

          <!-- owner -->
          <div class="font-semibold opacity-50 text-sm justify-self-end">offer by Paul</div>

          <!-- auction: offered shift info -->
          <div class="flex flex-col">
            <div>Shift 1</div>
            <div class="font-semibold opacity-50 text-sm">01.12.2025 08:00</div>
          </div>

          <!-- info  -->
          <span class="col-span-3">Paul offered their shift "Shift 1" for anyone who's interested.</span>

          <!-- actions -->
          <div class="col-span-3 flex flex-row gap-md">
            <xsb-input-button size="minimal" content="Claim" action="success" />
            <xsb-input-button size="minimal" content="View Details" />
          </div>

        </div>
      }

    </div>
  </div>

</div>
