
<!-- card list -->
<div class="grid grid-cols-[repeat(auto-fit,minmax(0,max(40%,25rem)))] gap-md">

  @for (card of [1,1,1,1,1]; track card) {
    <div class="card interaction grid grid-columns-2 gap-2" [routerLink]="'someid'">
      <h1 class="title">Pilot Event</h1>
      <p class="font-semibold">01.12.2025 - 24.12.2025</p>
      <p>
        This is a pilot event for mockup purposes.<br>
        It does not yet exist in the database. This text right here is the long description of the event.
      </p>
    </div>
  }

</div>
