
<!-- card list -->
<div class="grid grid-cols-[repeat(auto-fit,minmax(0,max(40%,25rem)))] gap-md">

  @for (event of (events$ | async); track event) {
    <div class="card interaction grid grid-columns-2 gap-2" [routerLink]="'/events/' + event.id">
      <h1>{{event.name}}</h1>
      <div class="badge w-fit"
           tooltipMaxWidth="30ex"
           [app-tooltip]="'The event dates of ' + event.name"
      >
        <fa-icon [icon]="iconDate" />
        {{event.startTime | date:"mediumDate"}} - {{event.startTime | date:"mediumDate"}}
      </div>
      <p>
        {{event.shortDescription}}
      </p>
    </div>
  }

</div>
