@if (size === "text") {
  <div class="flex flex-row items-center gap-sm">
    @if (icon && !lock) {
      <fa-icon [icon]="icon" class="opacity-50" [ngClass]="{
      'text-text-danger' : action === 'danger',
      'text-text-success' : action === 'success',
      'text-default' : action === 'normal',
    }" />
    }
    <input [type]="type" class="" [ngClass]="{
    'pointer-events-none opacity-60' : lock,

    'text-framing-default_danger' : action === 'danger',
    'text-text-success' : action === 'success',
    'text-default' : action === 'normal',

    'cursor-pointer transition-all opacity-100 hover:opacity-80 underline' : !lock
  }" (click)="preventDefault($event)" [name]="name" tabindex="0" [value]="content" />
  </div>
}

@else {
  <div class="w-full flex flex-row items-center cursor-pointer --hover:scale-95 --active:scale-[98%] transition-all
   rounded-lg  border-ctr" [ngClass]="{
      'pointer-events-none opacity-60' : lock,

      'border-framing-default_danger bg-background-item_danger hover:border-framing-highlight_danger' : action === 'danger',
      'border-framing-default_success bg-background-item_success hover:border-framing-highlight_success' : action === 'success',
      'border-framing-item bg-background-item focus-within:border-framing-highlight hover:border-framing-highlight' : action === 'normal',

      'py-sm px-lg gap-md font-semibold ' : size === 'regular',
      'py-xs px-sm gap-sm hover:brightness-125 active:brightness-125' : size === 'minimal',
      'gap-[0px]' : content.length === 0
    }">

    @if (icon && !lock) {
      <fa-icon [icon]="icon" [ngClass]="{
      'text-text-danger' : action === 'danger',
      'text-text-success' : action === 'success',
      'text-default' : action === 'normal',
    }" />
    }

    @if (lock && !disableLockIcon) {
      <fa-icon class="animate-spin" [icon]="lockIcon" />
    }

    <input class="grow cursor-pointer" (click)="preventDefault($event)" [ngClass]="{
    'w-0' : content.length === 0
  }"
           [type]="type" [name]="name" tabindex="0" [value]="content">
  </div>
}

