<div class="h-full grid place-content-center">

  <!-- login card; for now code grant (external login) instead of direct grant (credentials) -->
  <div class="card flex w-50 flex-col gap-lg justify-center group">

    <div class="grid justify-center items-center">
      <img src="icon.svg"
           class="h-12 col-start-1 row-start-1 opacity-5 -translate-x-12 translate-y-2 group-hover:-translate-x-10 transition-all"
           alt="logo" />
      <img src="icon.svg"
           class="h-12 col-start-1 row-start-1 opacity-10 -translate-x-6 translate-y-1 group-hover:-translate-x-5 transition-all"
           alt="logo" />
      <img src="icon.svg"
           class="h-12 col-start-1 row-start-1 group-hover:scale-105 transition-all"
           alt="logo" />
      <img src="icon.svg"
           class="h-12 col-start-1 row-start-1 opacity-10 translate-x-6 translate-y-1 group-hover:translate-x-5 transition-all"
           alt="logo" />
      <img src="icon.svg"
           class="h-12 col-start-1 row-start-1 opacity-5 translate-x-12 translate-y-2 group-hover:translate-x-10 transition-all"
           alt="logo" />
    </div>

    <h1 class="signature-gradient-font text-center text-3xl font-extrabold compact">Shift Control</h1>

    <b>
      Make Events happen, together as Community.
    </b>

    <xsb-input-button content="Log In" name="login" (xsbClick)="login()" />
  </div>

  <div class="gradient-bg primary">

  </div>

  <div class="gradient-bg secondary">

  </div>

</div>
