<div class="h-full grid place-content-center">

  <div class="flex w-50 flex-col gap-5 justify-center card">
    <!--<xsb-input-text #email
                    name="email"
                    placeholder="EMail"
                    [formControl]="form.controls.email"
                    [xsb-typed]="[email, form.controls.email]"
    />
    <xsb-input-text #password
                    name="password"
                    placeholder="Password"
                    type="password"
                    [formControl]="form.controls.password"
                    [xsb-typed]="[password, form.controls.password]"
    />-->

    <h1 class="signature-gradient-font text-2xl text-center font-bold">Welcome Back!</h1>
    <p class="font-semibold">
      ShiftControl is a powerful event planning<br> platform for organizators and volunteers
    </p>

    <xsb-input-button content="Login" name="submit" (click)="login()" />
  </div>

</div>
