<div class="h-full grid place-content-center">

  <!-- login card; for now code grant (external login) instead of direct grant (credentials) -->
  <div class="card flex w-50 flex-col gap-lg justify-center">

    <div class="grid place-content-center">
      <img src="icon.svg" class="h-8 col-start-1 row-start-1" alt="logo" />
      <!--<img src="icon.svg" class="h-8 col-start-1 row-start-1" alt="logo" />-->
    </div>

    <h1 class="signature-gradient-font text-center text-3xl font-extrabold compact">Shift Control</h1>

    <b>
      Make Events happen, together as Community.
    </b>

    <xsb-input-button content="Log In" name="login" (click)="login()" />
  </div>

</div>
