<!-- intro and event card list -->
<div class="flex flex-row gap-md flex-wrap col-span-3>">

  <div class="basis-full">
    <div class="card w-fit flex flex-col gap-md" >
      <h1 class="signature-gradient-font">Welcome back, {{name$ | async}}!</h1>
      <span>
          The home screen shows your schedule and trades/auctions for all active events and shift plans.<br>
          Additionally, currently active shift plans are shown below.
        </span>
    </div>
  </div>

  @for (card of cards$ | async; track card) {
    <div class="card interaction" [ngClass]="card.spotlight ? 'spotlight' : ''" [routerLink]="card.href">
      <h1>{{card.title}}</h1>
      <span>{{card.content}}</span>
    </div>
  }
</div>
