<!-- list of trades/auctions -->
<div class="flex flex-col gap-md grow overflow-auto">

  @for (card of [1,2]; track card) {

    <!-- card for item: trade -->
    <div class="border-ctr border-framing-card bg-background-card rounded-xl p-md grid grid-cols-[2fr_1fr_2fr] gap-sm">

      <!-- type -->
      <small class="col-span-2">Trade</small>

      <!-- owner -->
      <small class="justify-self-end">request by Paul</small>

      <!-- trade: left and right info -->
      <div class="flex flex-col items-end">
        <b>Shift 1 @if (showShiftOrigin) { (Pilot Event: Pilot Plan) }</b>
        <b>Pilot Position</b>
        <small>01.12.2025 08:00</small>
      </div>

      <div class="text-center content-center">⟺</div>

      <div class="flex flex-col items-start">
        <b>Shift 2 @if (showShiftOrigin) { (Pilot Event: Pilot Plan) }</b>
        <b>Pilot Position</b>
        <small>01.12.2025 08:00</small>
      </div>

      <!-- info  -->
      <span class="col-span-3">Paul wants to trade their shift "Shift 2" against your shift "Shift 1".</span>

      <!-- actions -->
      <div class="col-span-3 flex flex-row gap-md">
        <xsb-input-button size="minimal" content="Accept" action="success" name="trade-accept" />
        <xsb-input-button size="minimal" content="Decline" action="danger" name="trade-decline" />
        <xsb-input-button size="minimal" content="View Details" name="trade-view-shift" [routerLink]="'/shifts/shiftId'" />
      </div>

    </div>

    <!-- card for item: auction -->
    <div class="border-ctr border-framing-card bg-background-card rounded-xl p-md grid grid-cols-[2fr_1fr_2fr] gap-sm">

      <!-- type -->
      <small class="col-span-2">Auction</small>

      <!-- owner -->
      <small class="justify-self-end">offer by Paul</small>

      <!-- auction: offered shift info -->
      <div class="flex flex-col col-span-3">
        <b>Shift 1</b>
        <small>01.12.2025 08:00</small>
      </div>

      <!-- info  -->
      <span class="col-span-3">Paul offered their shift "Shift 1" for anyone who's interested.</span>

      <!-- actions -->
      <div class="col-span-3 flex flex-row gap-md">
        <xsb-input-button size="minimal" content="Claim" action="success" name="auction-claim" />
        <xsb-input-button size="minimal" content="View Details" name="auction-view-shift" [routerLink]="'/shifts/shiftId'" />
      </div>

    </div>
  }

</div>
