
<!-- cards row -->
<div class="flex flex-wrap flex-row gap-xl">

  <!-- user management card -->
  <div class="card grid grid-cols-2 w-fit h-fit gap-sm">
    <h1 class="col-span-2 signature-gradient-font">Account Information</h1>

    <span>Given Name:</span>
    <xsb-input-text #givenName name="userGivenName"
                    [disguise]="true"
                    [formControl]="form.controls.givenName"
                    [xsb-typed]="[givenName, form.controls.givenName]"
    />

    <span>Last Name:</span>
    <xsb-input-text #lastName name="userLastName"
                    [disguise]="true"
                    [formControl]="form.controls.lastName"
                    [xsb-typed]="[lastName, form.controls.lastName]"
    />

    @if ((userType$ | async) === "ADMIN") {
      <span>User Type:</span>
      <span>Administrator</span>
    }

    <div class="col-span-2 flex flex-row gap-lg pt-lg">
      <xsb-input-button name="me-manage-account" content="Manage Account" (click)="goToManagement()" size="minimal" />
      <xsb-input-button name="me-sign-out" action="danger" content="Sign Out" (click)="signOut()" size="minimal" />
    </div>
  </div>

  <!-- notification preferences card -->
  <div class="card grid grid-cols-[auto_1fr] gap-y-sm gap-x-lg w-fit h-fit items-baseline">
    <h1 class="col-span-2 signature-gradient-font">Notifications</h1>

    @if(notificationFormControls$ | async; as notificationControls){

      @for (item of notificationControls.entries(); track item[0]){
        <label for="me-notifications-{{item[0]}}">{{getNotificationKindName(item[0])}}:</label>
        <xsb-input-multitoggle #notification name="me-notifications-{{item[0]}}"
                               [formControl]="item[1]" [options]="testOptions" [nullable]="true" nullName="None"
                               [xsb-typed]="[notification, item[1]]"
        />
      }
    }

  </div>
</div>


