
<!-- card grid -->
<div class="grid grid-cols-[repeat(3,1fr)] grid-rows-[auto_1fr] gap-md h-full">

  <!-- overview card -->
  <div class="card grid grid-columns-2 gap-lg">

    <!-- info caption -->
    <small class="col-span-2">Plan Overview</small>

    <!-- properties -->
    <h1 class="col-span-2 compact signature-gradient-font">Pilot Event: Pilot Plan</h1>
    <p class="col-span-2">
      This is a pilot event shift plan for mockup purposes.<br>
      It does not yet exist in the database. This text right here is the long description of the shift plan.
    </p>

    <!-- own schedule stats -->
    <div class="flex flex-col">
      <small>Your schedule</small>
      <span>➜ 5 busy days</span>
      <span>➜ total 10 hours</span>
    </div>

    <!-- public stats -->
    <div class="flex flex-col">
      <small>Public stats</small>
      <span>➜ 200 hours</span>
      <span>➜ 30 volunteers</span>
    </div>

    <!-- rewards-->
    <span class="col-span-2">
      <small>Total reward:</small>
       50 points
    </span>

  </div>

  <!-- calendar link card -->
  <div class="card interaction row-start-2 h-fit" routerLink="calendar">
    <h1>View Shift Calendar</h1>
    <p>
      Click to explore all available shifts in  the calendar.<br>
      Here, you can also sign up to shifts that you want to participate in.
    </p>
  </div>

  <!-- schedule card-->
  <div class="card row-span-2 flex flex-col gap-md">

    <!-- title -->
    <h1 class="col-span-2 signature-gradient-font">
      <fa-icon [icon]="iconTasks" class="icon" />
      Plan Schedule
    </h1>

    <div class="grow overflow-auto">
      <app-shift-schedule [showShiftDescription]="true" [showShiftPersonalDetails]="true" />
    </div>
  </div>

  <!-- auction/trade card-->
  <div class="card row-span-2 flex flex-col gap-md ">

    <!-- title -->
    <h1 class="col-span-2 signature-gradient-font">
      <fa-icon [icon]="iconTrade" class="icon" />
      Shift Plan Auctions & Trades
    </h1>

    <div class="grow overflow-auto">
      <app-shift-trade-auction />
    </div>
  </div>

</div>
