.position {
  @apply w-full h-fit flex flex-col gap-xs;
}

.card.signed-up {
  @apply border-framing-default_success hover:border-framing-highlight_success transition-colors bg-background-card_success;
}

.card.not-eligible {
  @apply opacity-50 cursor-not-allowed;
}
