.position {
  @apply w-full h-full flex flex-col gap-xs;

  .header {
    @apply flex flex-row gap-sm;
  }
}

.card.signed-up {
  @apply border-framing-default_success hover:border-framing-highlight_success transition-colors bg-background-card_success;
}

.card.not-eligible {
  @apply opacity-50 cursor-not-allowed;
}
