.card {
  @apply bg-background-card border-framing-card border-ctr transition-colors px-8 py-6;
  border-radius: 1.5rem;

  &.compact {
    padding: 1rem;
  }

  &:hover {
    box-shadow: 0px 0px 5px 0px rgb(25 28 43);
  }

  &.interaction {
    @apply cursor-pointer border-framing-item bg-background-item;
    &:hover {
      box-shadow: 0px 0px 8px 2px rgb(25 28 43);
      @apply border-framing-highlight;
    }
  }
}

h1 {
  @apply text-xl font-bold mb-3;

  .icon {
    @apply pr-md opacity-60;
  }

  &.compact {
    @apply mb-0;
  }
}

h2 {
  @apply text-lg font-semibold mb-2;
}

b {
  @apply font-semibold;
}

small {
  @apply opacity-80 text-sm;
}

.badge {
  @apply bg-framing-item py-xs px-sm rounded-xl text-xs font-semibold flex items-center gap-xs;

  &.hint {
    @apply bg-framing-highlight_hint;
  }

  &.success {
    @apply bg-framing-highlight_success;
  }

  &.padding-eq{
    @apply py-xs px-xs;
  }
}

.cdk-overlay-wrapper:has(+.cdk-overlay-backdrop.shiftcontrol-dialog) {
  @apply p-sm desktop:p-0
}

.cdk-overlay-backdrop.shiftcontrol-dialog {
  background-color: #00000073;
}

.cdk-overlay-pane.shiftcontrol-dialog {
  @apply desktop:min-w-[500px] max-w-[calc(100vw-(2*theme(spacing.lg)))] max-h-[calc(100vh-(2*theme(spacing.lg)))];
}
