.card {
  @apply bg-background-card border-framing-card border-2;
  padding: 2rem;
  border-radius: 1.5rem;

  &.compact {
    padding: 1rem;
  }

  &:hover {
    box-shadow: 0px 0px 5px 0px rgb(25 28 43);
  }

  &.interaction {
    @apply cursor-pointer border-framing-item border-2 bg-background-item;
    &:hover {
      box-shadow: 0px 0px 8px 2px rgb(25 28 43);
    }
  }

  .title {
    @apply text-xl font-bold mb-4;
  }
}
