.card {
  @apply bg-background-card border-framing-card border-ctr transition-colors px-8 py-6;
  border-radius: 1.5rem;

  &.ghost {
    @apply bg-transparent border-transparent shadow-none;
  }

  &.compact {
    padding: 1rem;
  }

  &.success {
    @apply border-framing-default_success bg-background-card_success;

    &:hover {
      @apply border-framing-item_success;
    }
  }

  &.spotlight {
    @apply border-framing-default_hint bg-background-card_hint;

    &:hover {
      @apply border-framing-item_hint;
    }
  }

  /*&:hover:not(.ghost) {
    box-shadow: 0px 0px 5px 0px rgb(25 28 43);
  }*/

  &.interaction:not(.ghost) {
    @apply cursor-pointer border-framing-item bg-background-item;
    &:hover {
      box-shadow: 0px 0px 8px 2px rgb(25 28 43);
      @apply border-framing-highlight;
    }

    &.spotlight {
      @apply border-framing-item_hint bg-background-item_hint;

      &:hover {
        @apply border-framing-highlight_hint;
      }
    }

    &.success {
      @apply border-framing-item_success bg-background-item_success;

      &:hover {
        @apply border-framing-highlight_success;
      }
    }
  }
}

h1 {
  @apply text-xl font-bold mb-3;

  .icon {
    @apply pr-md opacity-60;
  }

  &.compact {
    @apply mb-0;
  }
}

h2 {
  @apply text-lg font-semibold mb-2;

  &.compact {
    @apply mb-0;
  }
}

b {
  @apply font-semibold;
}

small {
  @apply opacity-80 text-sm font-[500];
}

.badge {
  @apply bg-framing-item py-xs px-sm rounded-xl text-sm font-semibold flex items-center gap-xs;

  &.hint {
    @apply bg-framing-highlight_hint;
  }

  &.success {
    @apply bg-framing-highlight_success;
  }

  &.deaf {
    @apply bg-framing-card;
  }

  &.padding-eq{
    @apply py-xs px-xs;
  }

  &.big {
    @apply text-sm py-sm px-md rounded-2xl;
  }
}

.cdk-overlay-wrapper:has(+.cdk-overlay-backdrop.shiftcontrol-dialog) {
  @apply p-sm desktop:p-0
}

.cdk-overlay-backdrop.shiftcontrol-dialog {
  background-color: rgba(0, 0, 0, 0.52);
}

.cdk-overlay-pane.shiftcontrol-dialog {
  @apply desktop:min-w-[500px] max-w-[calc(100vw-(2*theme(spacing.lg)))] max-h-[calc(100vh-(2*theme(spacing.lg)))];
}
