.card {
  @apply bg-background-card border-framing-card border-2;
  padding: 2rem;
  border-radius: 1.5rem;

  &.compact {
    padding: 1rem;
  }

  &:hover {
    box-shadow: 0px 0px 5px 0px rgb(25 28 43);
  }

  &.interaction {
    @apply cursor-pointer border-framing-item border-2 bg-background-item;
    &:hover {
      box-shadow: 0px 0px 8px 2px rgb(25 28 43);
    }
  }
}

h1 {
  @apply text-xl font-bold mb-3;

  &.compact {
    @apply mb-0;
  }
}

h2 {
  @apply text-lg font-semibold mb-2;
}

b {
  @apply font-semibold;
}

small {
  @apply col-span-2 opacity-50 font-semibold text-sm;
}
