<!-- wrapper -->
<div class="flex flex-col gap-md h-full">

  <!-- header with filters-->
  <app-shift-calendar-filter [showFilters]="true" [showFilterForm]="false">
    <div class="flex flex-col pl-lg">
      @if ((userType$ | async) === "ADMIN"){
        <h1 class="signature-gradient-font">Manage Event Schedule</h1>
        <span>
          Click anywhere in the calendar to create a new activity at the selected time and location, <br>
          or click on an existing activity to manage it.
        </span>
      } @else {
        <h1 class="signature-gradient-font">View Event Schedule</h1>
        <span>
          Browse the event schedule to view activities across all locations.
        </span>
      }
    </div>
  </app-shift-calendar-filter>

  <!-- calendar -->
  <div class="card compact flex-grow overflow-hidden !bg-opacity-100">
    <app-shift-calendar-grid />
  </div>

</div>

@if (selectedActivity$ | async; as activityData){
  @if (activityData !== null && activityData !== undefined){

    <xsb-dialog #dialog (closeDialog)="selectedActivity$.next(undefined)">

      <ng-container dialog-header>
        <h1 class="signature-gradient-font">
          {{ ((userType$ | async) === "ADMIN") ? activityData.activity === undefined ? 'Create Activity' : 'Manage Activity' : "View Activity" }}
        </h1>
      </ng-container>

      <ng-container dialog-body>
        <app-manage-activity [manageData]="activityData" (activityChanged)="activityChanged$.next($event); dialog.close()" />
      </ng-container>
    </xsb-dialog>
  }
}
