<ng-template cdkPortal>
  <div [ngClass]="{
    'border-framing-card bg-[linear-gradient(180deg,_rgb(13_13_20)_0%,rgb(13_14_22)_100%)]' : action === 'normal',
    'border-framing-default_danger shadow-inner shadow-framing-item_danger bg-background-card_danger' : action === 'danger',
    'border-framing-default_success shadow-inner shadow-shadow-item_success bg-background-card_success' : action === 'success',
    'h-[calc(90vh-(2*21px))] w-[calc(95vw-(2*21px))]' : maxSize
  }"
    class="border-ctr rounded-lg p-lg flex flex-col gap-md
">

    <!-- header -->
    <div class="grid grid-cols-[5rem_1fr_5rem] place-content-center justify-between  border-framing-card" [ngClass]="{
      'border-b-ctr': bodyStyle === 'plain'
    }">

      <span></span>

      <!-- title -->
      <div class="text-lg font-bold grow text-center">
        <ng-content select="[dialog-header]"></ng-content>
      </div>

      <!-- close -->
      <div class="text-md opacity-60 hover:opacity-100 cursor-pointer font-semibold justify-self-end" tabindex="0"
        (keydown)="closeDialog.next('close')" (click)="closeDialog.next('close')">Close</div>
      </div>

    <!-- body -->
    <div class="grow overflow-auto" [ngClass]="{
      'card': bodyStyle === 'card'
    }">
      <ng-content select="[dialog-body]"></ng-content>
    </div>

    <!-- confirmation -->
    @if (success !== undefined || danger !== undefined) {

      <div class="flex flex-row justify-center gap-xl">

        @if(success !== undefined) {
          <xsb-input-button action="success" (click)="closeDialog.next('success')" [content]="success" />
        }
        @if(danger !== undefined) {
          <xsb-input-button action="danger" (click)="closeDialog.next('danger')"  [content]="danger" />
        }
      </div>

    }

  </div>
</ng-template>
