<div class="card flex flex-col gap-lg h-fit" [style.order]="getOrder()" [ngClass]="{
  'success': _location === undefined,
}">
  <div class="flex flex-row gap-sm items-center">
    @if (_location === undefined){
      <div class="badge success w-fit">
        <fa-icon [icon]="locationIcon" />
        Create Event Location
      </div>
    }
    @else {
      <div class="badge hint w-fit">
        <fa-icon [icon]="locationIcon" />
        Event Location
      </div>

      @if (isPretalxManaged) {
        <div class="badge w-fit">
          <fa-icon [icon]="iconLock" />
          PreTalx Sync
        </div>
      }
    }

    <span class="grow"></span>

    @if (_location === undefined) {
      <xsb-input-button content="Create" size="text" (click)="save()" />
    }
    @else if(!isPretalxManaged) {
      <xsb-input-button content="Delete" size="text" (click)="showDeleteConfirm = true" />
      <xsb-input-button content="Save" size="text" (click)="save()" />
    }

  </div>

  @if(_location === undefined) {
    <span>Create a new location to organize activities and shifts of this event.</span>
  }

  <div class="flex flex-col gap-sm">
    <small><fa-icon [icon]="iconName" class="pr-sm" />Location Name</small>
    <xsb-input-text #name [disguise]="isPretalxManaged"
                    [formControl]="form.controls.name"
                    [xsb-typed]="[name, form.controls.name]"
                    name="location-manage-name" placeholder="Location name"
    />
  </div>

  <div class="flex flex-col gap-sm">
    <small><fa-icon [icon]="iconCaption" class="pr-sm" />Description</small>
    <xsb-input-text #description [disguise]="isPretalxManaged"
                    [formControl]="form.controls.description"
                    [xsb-typed]="[description, form.controls.description]"
                    name="location-manage-name" placeholder="Location description"
    />
  </div>

  <div class="flex flex-col gap-sm">
    <small><fa-icon [icon]="iconUrl" class="pr-sm" />Map URL</small>
    <xsb-input-text #url [disguise]="isPretalxManaged"
                    [formControl]="form.controls.url"
                    [xsb-typed]="[url, form.controls.url]"
                    name="location-manage-url" placeholder="URL to location map"
    />
  </div>

</div>

@if (showDeleteConfirm && _location !== undefined){
  <xsb-dialog action="danger" danger="Delete Location" (closeDialog)="showDeleteConfirm = false; $event === 'danger' && delete()">
    <ng-container dialog-header>
      <h1>Delete Location "{{_location.name}}"</h1>
    </ng-container>

    <ng-container dialog-body>
      <p>
        Are you sure you want to delete this location?<br>
        This cannot be made undone.
      </p>
    </ng-container>
  </xsb-dialog>
}


