@if (event$ | async; as event) {

  <!-- card grid -->
  <div class="grid grid-cols-[repeat(auto-fit,minmax(15rem,1fr))] gap-md">

    <!-- overview card -->
    <div class="card col-span-2 row-span-2 grid grid-columns-2 gap-lg h-fit">

      <!-- info caption -->
      <small>Event Overview</small>
      <div class="badge w-fit justify-self-end"
           tooltipMaxWidth="30ex"
           [app-tooltip]="'Event dates of ' + event.eventOverview.name"
      >
        <fa-icon [icon]="iconDay" />
        {{event.eventOverview.startTime | date:"shortDate"}} - {{event.eventOverview.startTime | date:"shortDate"}}
      </div>

      <!-- properties -->
      <h1 class="compact signature-gradient-font col-span-2">{{event.eventOverview.name}}</h1>
      <p class="col-span-2">
        {{event.eventOverview.longDescription}}
      </p>

      <!-- own schedule stats -->
      <div class="flex flex-col items-start gap-xs">
        <small>Your stats</small>
        <div class="badge"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Days where you signed up for shifts in this event'"
        >
          <fa-icon [icon]="iconDay" />
          {{event.ownEventStatistics.busyDays}} Busy Days
        </div>
        <div class="badge"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Sum of signed up shifts in this event'"
        >
          <fa-icon [icon]="iconHours" />
          {{event.ownEventStatistics.totalHours}} Shift Hours
        </div>
        <div class="badge success"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Reward points earned during this event'"
        >
          <fa-icon [icon]="iconRewards" />
          {{event.rewardPoints}} Points Rewarded
        </div>
      </div>

      <!-- public stats -->
      <div class="flex flex-col items-start gap-xs">
        <small>Public stats</small>
        <div class="badge hint"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Volunteers participating in this event'"
        >
          <fa-icon [icon]="iconVolunteers" />
          {{event.overallEventStatistics.volunteerCount}} Volunteers
        </div>
        <div class="badge hint"
             tooltipMaxWidth="30ex"
             [app-tooltip]="'Duration of shifts during this event'"
        >
          <fa-icon [icon]="iconHours" />
          {{event.overallEventStatistics.totalHours | number:"1.0-0"}} Shift Hours
        </div>
      </div>

    </div>

    <!-- availability times card -->
    <div class="card col-span-2 row-span-2 grid grid-columns-2 gap-lg h-fit">

      <!-- info -->
      <h1 class="compact signature-gradient-font">Availability</h1>
      <p class="col-span-2">
        Set your availability for calendar filtering and better shift suggestions.
      </p>

      <!-- set unavailability -->
      <div class="grid grid-cols-[1fr_auto] col-span-2 gap-xs">
        <small class="col-span-2">Your unavailable times</small>

        @if(timeConstraints$ | async; as timeConstraints) {
          @if (timeConstraints.length === 0) {
            <p class="col-span-2">You have not set any unavailability for this event.</p>
          }

          @for (constraint of timeConstraints; track constraint.id) {
            <div class="flex gap-sm items-center">

              @if (constraint.type === "EMERGENCY") {
                <div class="badge hint">
                  <fa-icon [icon]="iconUnavailable" />
                  Emergency
                </div>

                {{
                  constraint.from | date:'dd.MM.yyyy'
                }}
              }

              @else {
                <div class="badge success">
                  <fa-icon [icon]="iconUnavailable" />
                  {{ getUnavailabilityDayLength(constraint) }}
                </div>

                {{
                  constraint.from | date:'dd.MM.yyyy HH:mm'
                }} - {{
                  constraint.to | date:'dd.MM.yyyy HH:mm'
                }}
              }

            </div>
            <xsb-input-button action="normal" content="Remove {{constraint.type === 'EMERGENCY' ? 'Emergency' : 'Time'}}" size="minimal" (click)="removeUnavailability(constraint, event)" />
          }
        }

        <div class="flex gap-sm items-center">
          <div class="badge success">
            <fa-icon [icon]="iconUnavailable" />
            1 day
          </div>
          05.12.2025 08:00 - 6.12.2025 19:00
        </div>
        <xsb-input-button action="normal" content="Remove Time" size="minimal" />

        <div class="flex gap-sm items-center">
          <div class="badge hint">
            <fa-icon [icon]="iconUnavailable" />
            Emergency
          </div>

          22.08.2001
        </div>
        <xsb-input-button action="normal" content="Remove Emergency" size="minimal" />
      </div>

      <div class="flex gap-sm">
        <xsb-input-button content="Add Unavailability" (click)="showUnavailabilityDialog = true" size="minimal" class="w-fit" />
        <xsb-input-button content="Set Emergency" (click)="showEmergencyDialog = true" size="minimal" class="w-fit" />
      </div>

    </div>

    @for (plan of event.shiftPlans; track plan) {
      <div class="card interaction" [routerLink]="'/plans/' + plan.id">
        <h1>{{plan.name}}</h1>
        <p>
          {{plan.shortDescription}}
        </p>
      </div>
    }

  </div>

  <app-dialog-add-unavailability [viewWhen]="showUnavailabilityDialog" (result)="unavailabilitySubmitted($event, event)" />
  <app-dialog-add-emergency [viewWhen]="showEmergencyDialog" (result)="emergencySubmitted($event, event)" />
}

